# On ignore les fichiers temporaires de Ruby
*.gem
*.rbc
.config

# On ignore les dossiers de dépendances
/vendor/bundle/
.bundle/

# On ignore les fichiers de log et de système
.DS_Store
*.log